{% extends 'base.html.twig' %}

{% block title %}New Offer{% endblock %}

{% block body %}
<div class="bloc padding">
    <h1>Nouvelle Offre</h1>

    {{ include('admin/offer/_form.html.twig') }}

    <a href="{{ path('offer_index') }}">Retour</a>
</div>
{% endblock %}
