{% extends 'base.html.twig' %}

{% block title %}New Testimony{% endblock %}

{% block body %}
<div class="padding bloc">
    <h1>Nouveau témoignage</h1>

    {{ include('admin/testimony/_form.html.twig') }}

    <a href="{{ path('testimony_index') }}">Retour</a>
</div>
{% endblock %}
