* {
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
  outline: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: white;
}
button {
  border: none;
  cursor: pointer;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.text-centered {
  text-align: center;
}
/*
	-moz-
	-o-
	-webkit-

*/
.sticker-shadow {
  -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.sticker-shadow:hover {
  -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
}
.side-shadow {
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}
.rounded {
  border-radius: 5px;
}
.input-inshadow {
  -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
.input-inshadow:hover {
  -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.input-shadow {
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
.input-shadow:hover {
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
.text-shadow {
  text-shadow: 0 0 2px black;
}
.form-shape {
  border: none;
  padding: 8px;
  border-radius: 5px;
}
input,
textarea {
  border: none;
  padding: 8px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
input:hover,
textarea:hover {
  -moz-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
input[type="submit"],
select {
  border: none;
  padding: 8px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover,
select:hover {
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}
@font-face {
  font-family: "regular";
  src: url("../fonts/made-reg.otf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/made-bold.otf");
}
#NAVBAR {
  z-index: 5;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.6);
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
#NAVBAR #UPARROW {
  -moz-transition: 0.2s transform;
  -o-transition: 0.2s transform;
  -webkit-transition: 0.2s transform;
  transition: 0.2s transform;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #007bff;
  cursor: pointer;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
#NAVBAR #UPARROW:hover {
  background: #003edb;
}
#NAVBAR #UPARROW:hover::after {
  transform: rotate(45deg) translate(-3px, -3px);
}
#NAVBAR #UPARROW:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#NAVBAR #UPARROW::after {
  -moz-transition: 0.2s transform;
  -o-transition: 0.2s transform;
  -webkit-transition: 0.2s transform;
  transition: 0.2s transform;
  content: "";
  display: block;
  top: 13px;
  left: 11px;
  position: relative;
  width: 16px;
  height: 16px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transform: rotate(45deg);
}
#NAVBAR #UPARROW.hidden {
  transform: translateX(200px);
}
#NAVBAR:hover {
  -moz-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 2px 20px 0px rgba(0, 0, 0, 0.8);
}
#NAVBAR .logo {
  width: 170px;
  height: 100%;
  font-style: bold;
  font-size: 30px;
  display: inline-block;
  font-family: "bold";
  padding-top: 30px;
  text-align: center;
  color: black;
  will-change: transform;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#NAVBAR .logo:hover {
  animation: littlerotate 0.2s;
}
#NAVBAR .logo img {
  width: 100%;
  position: relative;
  top: -7px;
}
#NAVBAR .opennavbar {
  transform: translateX(100vw);
  position: absolute;
  right: 0;
  height: 60px;
  width: 60px;
  padding: 20px;
  top: 0;
  cursor: pointer;
}
#NAVBAR .opennavbar .hamburger,
#NAVBAR .opennavbar .hamburger::after,
#NAVBAR .opennavbar .hamburger::before {
  width: 20px;
  height: 2px;
  background-color: black;
  cursor: pointer;
  will-change: transform;
  will-change: width;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#NAVBAR .opennavbar .hamburger::after,
#NAVBAR .opennavbar .hamburger::before {
  content: "";
  display: block;
}
#NAVBAR .opennavbar .hamburger::after {
  transform: translateY(5.5px);
}
#NAVBAR .opennavbar .hamburger::before {
  transform: translateY(15px);
}
#NAVBAR .opennavbar.open .hamburger {
  transform: rotate(45deg) translateY(8px) translateX(3px);
}
#NAVBAR .opennavbar.open .hamburger,
#NAVBAR .opennavbar.open .hamburger::after,
#NAVBAR .opennavbar.open .hamburger::before {
  width: 26px;
}
#NAVBAR .opennavbar.open .hamburger::after {
  transform: translateY(-2px) rotate(-90deg);
}
#NAVBAR .opennavbar.open .hamburger::before {
  transform: rotate(-90deg) translateY(0);
}
#NAVBAR .right {
  display: inline-block;
  width: calc(100% - 170px);
  float: right;
  height: calc(100% - 2px);
}
#NAVBAR .right .part {
  display: inline-block;
  background-color: white;
  color: black;
  height: 100%;
  padding: 25px 10px 0 10px;
}
#NAVBAR .right .part p {
  will-change: transform;
  will-change: font-family;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#NAVBAR .right .part:hover p {
  transform: translateX(10px);
  font-family: "bold";
}
@media screen and (max-width: 960px) {
  #NAVBAR {
    height: 60px;
  }
  #NAVBAR .logo {
    font-size: 30px;
    padding-top: 10px;
  }
  #NAVBAR .right {
    transform: translateX(-999em);
  }
  #NAVBAR .opennavbar {
    transform: translateX(0);
  }
  #NAVBAR.open .right {
    width: calc(100%);
    transform: translateX(-100%);
    float: none;
    height: auto;
    z-index: 5;
  }
  #NAVBAR.open .right .part {
    height: 50px;
    width: 100%;
    padding: 0 0 0 20px;
    transform: translateX(100%);
  }
  #NAVBAR.open .right .part p {
    will-change: transform;
    will-change: font-family;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  #NAVBAR.open .right .part:hover p {
    transform: translateX(10px);
    font-family: "bold";
  }
  #NAVBAR.open a:nth-child(1) .part {
    border-top: 2px solid black;
    animation: navbarleft 0.1s;
  }
  #NAVBAR.open a:nth-child(2) .part {
    animation: navbarleft 0.2s;
  }
  #NAVBAR.open a:nth-child(3) .part {
    animation: navbarleft 0.3s;
  }
  #NAVBAR.open a:nth-child(4) .part {
    animation: navbarleft 0.4s;
  }
  #NAVBAR.open a:nth-child(5) .part {
    animation: navbarleft 0.5s;
  }
  #NAVBAR.open a:nth-child(6) .part {
    animation: navbarleft 0.6s;
  }
  #NAVBAR.open a:nth-child(7) .part {
    animation: navbarleft 0.7s;
  }
  #NAVBAR.open a:nth-last-of-type(1) .part {
    -moz-box-shadow: 0 8px 6px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 8px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px 0px rgba(0, 0, 0, 0.2);
  }
}
@keyframes navbarleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes littlerotate {
  from {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(0);
  }
}
.container-colonne {
  width: 100%;
  padding-bottom: 60px;
}
.container-colonne .colonne {
  width: calc(50%);
  display: inline-block;
  text-align: center;
  min-height: 200px;
  top: 0;
  position: relative;
  float: left;
  padding: 10px 20px 10px 20px;
}
.container-colonne .colonne .head {
  font-size: 25px;
  margin-bottom: 20px;
}
.container-colonne .colonne .head p {
  font-family: "bold";
}
.container-colonne .colonne .body .link {
  display: block;
  width: 80%;
  margin-left: calc((100% - 80%) / 2);
  margin-right: calc((100% - 80%) / 2);
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  padding: 10px;
  color: white;
  text-shadow: 0 0 2px black;
  will-change: background-color;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.container-colonne .colonne .body .link:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.container-colonne .colonne .body .link:hover {
  background-color: #003edb;
}
.container-colonne::after {
  content: "";
  display: table;
  clear: both;
}
.temoignage {
  width: 100%;
  padding: 30px;
  width: calc(100%);
}
.temoignage .head {
  font-family: "bold";
  margin-bottom: 10px;
  font-size: 25px;
}
.temoignage .auteur {
  font-style: italic;
  text-align: right;
}
.temoignage .button {
  display: inline-block;
  background: #007bff;
  color: white;
  padding: 10px;
  margin-top: 10px;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.temoignage .button:hover {
  background: #003edb;
}
.temoignage .button:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.temoignage::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 960px) {
  .container-colonne .colonne {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .temoignage .left .image {
    width: 100%;
    float: right;
    margin-left: 0;
    padding: 15px;
  }
  .temoignage .left .image img {
    float: none;
    height: 120px;
    width: 120px;
    margin-left: calc((100% - 120px) / 2);
    margin-right: calc((100% - 120px) / 2);
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .temoignage .left .image .lib {
    float: none;
    text-align: center;
  }
  .temoignage .right {
    float: left;
    padding: 20px;
    width: 100%;
  }
  .temoignage .right .head {
    font-family: "bold";
    margin-bottom: 10px;
    font-size: 25px;
  }
}
.searchbar {
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-top: 50px;
}
.searchbar .input {
  margin-left: 20px;
}
.searchbar .input .glass {
  height: 13px;
  width: 13px;
  display: inline-block;
  border-radius: 20px;
  border: 2px solid grey;
  position: relative;
  left: 23px;
  top: 0px;
}
.searchbar .input .glass::after {
  content: "";
  display: block;
  width: 2px;
  height: 7px;
  background-color: grey;
  transform: rotate(-45deg);
  position: relative;
  top: 7px;
  left: 10px;
}
.searchbar .input input {
  padding-left: 30px;
  box-shadow: none;
  border-radius: 3px;
  border-left: 3px solid #007bff;
  background: whitesmoke;
}
.searchbar .input input:hover {
  background: gainsboro;
}
.searchbar .checkbox {
  cursor: pointer;
  display: inline-block;
}
.searchbar .checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
  float: left;
}
.searchbar .checkbox:hover .checkmark {
  background-color: silver;
}
.searchbar .checkbox .checkmark {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  display: inline-block;
  background-color: lightgrey;
  position: relative;
  top: 2px;
  margin-right: 10px;
}
.searchbar .checkbox input:checked ~ .checkmark {
  background-color: #007bff;
}
.searchbar .checkbox input:checked ~ .checkmark::before {
  content: "";
  display: block;
  width: 8px;
  height: 4px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  position: relative;
  top: 4px;
  left: 3px;
  animation: check 0.15s;
}
.searchbar select {
  padding: 6px;
  margin-left: 20px;
}
.emplois {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 33px;
}
.emplois p {
  color: black;
}
.emplois .emploi {
  cursor: pointer;
  margin: 20px 0 20px 20px;
  border-left: 3px solid #007bff;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  will-change: border;
  -moz-transition: border 0.1s;
  -o-transition: border 0.1s;
  -webkit-transition: border 0.1s;
  transition: border 0.1s;
}
.emplois .emploi:hover {
  border-left-width: 5px;
}
.emplois .emploi .head,
.emplois .emploi .body {
  float: left;
  width: 100%;
}
.emplois .emploi .head::after,
.emplois .emploi .body::after {
  content: "";
  display: table;
  clear: both;
}
.emplois .emploi .head .nom,
.emplois .emploi .body .nom,
.emplois .emploi .head .date,
.emplois .emploi .body .date {
  padding-left: 20px;
  display: inline-block;
  width: 300px;
  float: left;
}
.emplois .emploi .head .lib,
.emplois .emploi .body .lib,
.emplois .emploi .head .adresse,
.emplois .emploi .body .adresse {
  float: left;
  display: inline-block;
  width: calc(100% - 300px);
}
.emplois .emploi .body .date::before {
  content: "Durée : ";
}
.emplois .emploi .body .adresse::before {
  content: "Adresse : ";
}
.emplois .emploi .head .lib {
  padding-left: 20px;
}
.emplois .emploi .head .nom {
  border-right: 2px solid black;
  font-family: "bold";
}
.emplois .emploi::after {
  content: "";
  display: table;
  clear: both;
}
@keyframes check {
  from {
    transform: scale(0) rotate(120deg);
  }
  to {
    transform: scale(1) rotate(-45deg);
  }
}
#OFFER {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: white;
  margin-top: 50px;
}
#OFFER .left {
  width: calc(100vw - 540px);
  padding-right: 30px;
}
#OFFER .left .title {
  font-size: 30px;
  font-family: "BOLD";
  margin-bottom: 15px;
}
#OFFER .left .description {
  font-size: 18px;
  margin-bottom: 30px;
}
#OFFER .left a.retour {
  margin-right: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
#OFFER .left a.retour:hover {
  background-color: #003edb;
}
#OFFER .left a.retour:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#OFFER .left .del {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #dc3545;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#OFFER .left .del:hover {
  background-color: #c23442;
}
#OFFER .left .del:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#OFFER .left a.edit {
  margin-right: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffc107;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
#OFFER .left a.edit:hover {
  background-color: #ecb719;
}
#OFFER .left a.edit:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#OFFER .right {
  border-radius: 4px;
  border-bottom: 3px solid #007bff;
  padding: 15px;
  width: 450px;
  position: absolute;
  top: 180px;
  left: calc(100vw - 500px);
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
#OFFER .right .organisation {
  margin-bottom: 5px;
}
#OFFER .right .organisation::before {
  font-family: BOLD;
  content: "Organisation : ";
}
#OFFER .right .duration {
  margin-bottom: 5px;
}
#OFFER .right .duration::before {
  font-family: BOLD;
  content: "Durée : ";
}
#OFFER .right .location {
  margin-bottom: 5px;
}
#OFFER .right .location::before {
  font-family: BOLD;
  content: "Adresse : ";
}
@media screen and (max-width: 950px) {
  #OFFER .left {
    width: 100%;
    padding-right: 0;
  }
  #OFFER .left .title {
    font-size: 30px;
    font-family: "BOLD";
    margin-bottom: 15px;
  }
  #OFFER .left .description {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #OFFER .left a.retour {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  }
  #OFFER .left a.retour:hover {
    background-color: #003edb;
  }
  #OFFER .left a.retour:hover {
    -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  }
  #OFFER .right {
    width: 100%;
    position: static;
    margin-bottom: 30px;
  }
  #OFFER .right::before {
    display: block;
    width: calc(100% + 2px);
    color: white;
    content: "Informations :";
    font-size: 18px;
    font-family: 'BOLD';
    padding: 14px;
    background-color: #007bff;
    border-radius: 3px 3px 0 0;
    transform: translate(-15px, -15px);
  }
}
#map {
  z-index: 1;
  width: 90%;
  margin-left: calc((100% - 90%) / 2);
  margin-right: calc((100% - 90%) / 2);
  height: calc(100vh - 180px);
  margin-top: 40px;
  border-radius: 3px;
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  will-change: box-shadow;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#map:hover {
  -moz-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.5);
}
.temoignage {
  width: 100%;
  border-left: 3px solid #007bff;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-transition: border 0.2s;
  -o-transition: border 0.2s;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  margin-bottom: 15px;
  padding: 15px;
  cursor: pointer;
}
.temoignage:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.temoignage:hover {
  border-left: 5px solid #007bff;
}
.temoignage p {
  margin: 0;
}
.temoignage .head {
  font-size: 20px;
}
* {
  font-family: "regular";
}
body {
  overflow-x: hidden;
  background-color: whitesmoke;
}
h2 {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
a.retour {
  margin-bottom: 20px;
}
#BODY {
  margin-top: calc(100% navbarheight);
  margin-bottom: 100px;
  background-color: whitesmoke;
}
.bloc {
  width: 100%;
  margin-top: 30px;
  background-color: white;
}
.bloc.padding {
  padding: 20px;
}
.bloc.padding h2 {
  margin-bottom: 25px;
}
.bloc.padding > a {
  display: inline-block;
  color: white;
  background-color: #007bff;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  padding: 8px;
}
.bloc.padding > a:hover {
  background: #003edb;
}
.bloc.padding > a:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.table.admin {
  border-radius: 3px;
  -moz-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  margin-bottom: 20px;
}
.table.admin thead {
  background-color: #007bff;
  color: white;
  font-family: 'BOLD';
  width: 100%;
  position: sticky;
  top: 100px;
}
.table.admin thead th {
  padding: 10px 8px;
  text-align: left;
  font-size: 18px;
}
.table.admin tbody tr {
  cursor: pointer;
}
.table.admin tbody tr:hover {
  background-color: whitesmoke;
}
.table.admin tbody tr td {
  padding: 6px;
  font-size: 18px;
}
.table.admin tbody tr td a {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  background: #007bff;
  color: white;
}
.table.admin tbody tr td a:hover {
  background: #003edb;
}
button.save {
  padding: 8px;
  color: white;
  background-color: #28a745;
  font-size: 16px;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
button.save:hover {
  background: #23923c;
}
button.save:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 700px) {
  .table.admin .description,
  .table.admin .date {
    display: none;
  }
}
span.bold {
  font-family: "bold";
}
.button-shape {
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  background-color: #007bff;
  padding: 10px;
  color: white;
  text-shadow: 0 0 2px black;
  will-change: background-color;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button-shape:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.button-shape:hover {
  background-color: #003edb;
}
.button-shadow {
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
.button-shadow:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.pagehead {
  padding: 20px;
}
.pagehead .name {
  float: left;
  width: 400px;
  font-family: "bold";
  font-size: 35px;
}
.pagehead .url {
  padding-top: 9px;
  float: left;
  width: calc(100% - 400px);
}
.pagehead .url a {
  display: inline-block;
  height: 25px;
  float: left;
  color: black;
  will-change: font-family;
}
.pagehead .url a:hover {
  font-style: bold;
}
.pagehead .url a:hover::after {
  content: "";
  display: block;
  width: calc(100% - 34px);
  height: 2px;
  background-color: black;
  float: right;
  animation: scaleX 0.15s;
}
.pagehead .url a:hover::before {
  font-family: "regular";
}
.pagehead .url a::before {
  content: "->";
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.pagehead .url a:nth-child(1)::before {
  content: "";
  margin: 0;
}
.pagehead .url a:nth-child(1)::after {
  width: 100%;
}
.pagehead::after {
  content: "";
  display: table;
  clear: both;
}
.button.del {
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  background-color: #dc3545;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.button.del:hover {
  background-color: #c23442;
}
.button.del:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.clear-float::after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 960px) {
  .pagehead .name {
    width: 100%;
  }
  .pagehead .url {
    width: 100%;
  }
  .table.admin thead {
    top: 60px;
  }
}
@keyframes scaleX {
  from {
    transform: scaleX(0);
    transform-origin: left;
  }
  to {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.modal {
  will-change: transform;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.modal .body {
  animation: from-top 0.4s;
  min-height: 200px;
  border-radius: 4px;
  background-color: white;
  width: 700px;
  margin-left: calc((100% - 700px) / 2);
  margin-right: calc((100% - 700px) / 2);
  margin-top: 100px;
}
.modal .body .head {
  padding-left: 10px;
  min-height: 50px;
  border-radius: 4px 4px 0 0;
}
.modal .body .head h1 {
  display: inline-block;
  color: white;
  width: calc(100% - 50px);
  font-size: 24px;
  margin: 11px 0 0 0;
}
.modal .body .head .close {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 7px;
  width: 30px;
  border-radius: 15px;
  height: 30px;
}
.modal .body .head .close .cross {
  position: relative;
  top: 14px;
  left: 5px;
  width: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 0;
  transform: rotate(45deg);
}
.modal .body .head .close .cross::before {
  content: "";
  display: block;
  width: 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 0;
  transform: rotate(90deg);
  position: relative;
  top: -1px;
}
.modal .body .twobutton {
  display: inline-block;
  margin-top: 50px;
  width: 100%;
  width: 240px;
  margin-left: calc((100% - 240px) / 2);
  margin-right: calc((100% - 240px) / 2);
}
.modal .body .twobutton .button {
  display: inline-block;
  text-align: center;
  width: 100px;
  color: white;
  border-radius: 3px;
  padding: 8px;
  font-size: 16px;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.modal .body .twobutton .button:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.modal .body .twobutton .button.cancel {
  background-color: silver;
}
.modal .body .twobutton .button.cancel:hover {
  background: grey;
}
.modal .body .twobutton .button.btn {
  margin-left: calc(20px);
  background-color: #dc3545;
}
.modal .body .twobutton .button.btn:hover {
  background: #c23442;
}
.modal.alert .body .head {
  background: #dc3545;
}
.modal.alert .body .head .close:hover {
  background: #c23442;
}
form {
  margin-bottom: 15px;
}
form label {
  width: 100%;
  display: block;
  margin-bottom: 4px;
  font-family: 'BOLD';
}
form input[type='text'],
form textarea {
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
}
form textarea {
  resize: none;
}
form select {
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}
form select:nth-child(n + 1) {
  margin-left: 5px;
}
@keyframes from-top {
  from {
    transform: translateY(-500px);
  }
  70% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
#TESTIMONY .fields span.heading {
  font-family: 'BOLD';
}
#TESTIMONY a.retour {
  margin-right: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  background-color: #007bff;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
#TESTIMONY a.retour:hover {
  background-color: #003edb;
}
#TESTIMONY a.retour:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#TESTIMONY .del {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border-radius: 3px;
  background-color: #dc3545;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#TESTIMONY .del:hover {
  background-color: #c23442;
}
#TESTIMONY .del:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
#TESTIMONY a.edit {
  margin-right: 15px;
  display: inline-block;
  padding: 10px;
  border-radius: 3px;
  background-color: #ffc107;
  color: white;
  -moz-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2);
}
#TESTIMONY a.edit:hover {
  background-color: #ecb719;
}
#TESTIMONY a.edit:hover {
  -moz-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.4);
}
.texte-standard {
  max-width: 700px;
  width: 100%;
  padding: 30px;
}
.texte-standard h1 {
  font-family: 'BOLD';
  font-size: 25px;
  margin: 30px 0;
}
.texte-standard p {
  margin: 0 0 0 20px;
  text-align: justify;
}
.texte-standard p.criteres {
  margin-top: 4px;
  padding-left: 10px;
  font-style: italic;
}
.texte-standard a {
  color: white;
  background-color: #007bff;
  padding: 0 3px;
}
.texte-standard a:hover {
  background: #003edb;
}
.texte-standard .head {
  font-size: 25px;
  font-family: 'BOLD';
}
.texte-standard span.tab {
  margin-right: 40px;
}
.texte-standard span.bold {
  font-family: "BOLD";
  margin-bottom: 10px;
}
