{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <div id="BODY">
        <div class="bloc">
            <div class='texte-standard'>
                <p class="head">Un IUT ?</p>
                <p>
                    Les Instituts Universitaires de Technologie en France sont répartis sur tout le territoire et sont au nombre de 115, ce qui assure un fort ancrage dans l'environnement économique local et régional. Des rencontres entre directeurs de département des IUT assurent la cohérence nationale de l'enseignement. <br>

                    L'IUT a une qualité d'enseignement universitaire reconnue et plébiscitée par les entreprises depuis plus de 40 ans, grâce à la mise en place de programmes adaptés à la réalité professionnelle et à la création de diplômes répondant à l'apparition de nouveaux métiers. <br>

                    Les formations couvrant la plupart des secteurs (secondaire et tertiaire) et proposant la collaboration de professionnels font la force et le succès des IUT, et permettent de fait aux étudiants de trouver un travail dans les 6 mois suivant la délivrance du diplôme. <br>

                    Cette diversification des diplômes et des formations amène à mettre en place des modes pédagogiques différents, qui conviennent ainsi à un plus grand nombre d'étudiants et de professionnels souhaitant reprendre des études ou faire une validation d'acquis de l'expérience (VAE). <br>

                    En outre, les IUT, en partenariat avec des universités étrangères, proposent des poursuites d'études à l'étranger, ainsi que des stages. <br>
                </p>

                <p class="head">Le DUT Informatique</p>
                <p>
                    L'enseignement de l'informatique à l'IUT fait une large part à la dimension professionnelle tout en conservant des composantes fondamentales; l'étudiant acquiert ainsi des savoir-faires mais également des connaissances, des concepts de base et des méthodes de travail qu'il sera à même de mettre à profit en situation professionnelle. <br>

                    <span class="bold">Le DUT, diplôme universitaire et professionnel (<a href="https://ufe.obspm.fr/Master/LMD-schema-des-etudes.html" target="_blank">niveau L2 du schéma LMD</a>, 120 crédits européens):</span> <br>

                    Les titulaires du DUT en informatique sont des techniciens supérieurs, capables de participer à la conception, la réalisation et la mise en oeuvre de systèmes informatiques. Ils peuvent cependant s'ils le désirent poursuivre leurs études à l'issue de ce diplôme. <br>

                    FAIRE DU BLABLA SUR LA POURSUITE D ETUDE LEUR TRUC DE BASE PUE LA MERDE<br>

                    La validation des acquis : <br>

                    Il est également possible de faire reconnaître son expérience (professionnelle ou non) afin d'obtenir un diplôme, un titre ou un certificat de qualification professionnelle. Vous pouvez visiter le site du gouvernement concernant validation des acquis de l'expérience (VAE). <br>
                    <p class="head">Le programme</p>
                    <p>
                        Le DUT informatique forment les étudiants à l'informatique et au travail en équipe afin de les insérer dans la vie professionnelle. <br>
                        Ils proposent ainsi une formation à taille humaine, encadrée par des professeurs disponibles, ainsi que par des professionnels expérimentés qui apportent aux étudiants une expérience pratique et concrète des métiers de l'informatique. <br>
                        L'enseignement en informatique (du DUT ou de la Licence Professionnelle) repose sur 3 axes, chacun d'entre eux requérant des qualités et des compétences spécifiques : <br><br>
                        
                        -Analyse et conception : <br>
                        Travail préliminaire en relation avec le client pour spécifier son besoin et ses attentes et la conception du schéma d'un traitement informatique.<br>

                        Communication, ouverture d'esprit, capacités d'analyse et de synthèse ...<br><br>
                        -Algorithmique et programmation :<br>
                        Mise en oeuvre effective du traitement jusqu'au codage. <br>

                        Esprit logique, précision technique ...<br><br>
                        -Architecture système et réseaux :<br>
                        Fonctionnement d'un ordinateur, de son système d'exploitation et des réseaux (Internet, Intranet, ...). <br>

                        Curiosité, patience ...<br><br>

                        A ces enseignements ciblés s'ajoutent pour moitié des disciplines d'enseignement général (Mathématiques, Economie et Gestion, Anglais et Communication, ...). Ceci confère à la formation un aspect pluridisciplinaire.<br>

                        En outre, l'évaluation se fait non seulement sur la théorie mais également sur des mises en situation, via des projets tuteurés et un stage en entreprise, permettant de valider les connaissances et compétences acquises lors de la formation.<br><br>

                        Le programme officiel du DUT Informatique est expliqué en détail <a href="{{ asset("files/ppn.pdf") }}" target="_blank">sur le programme pédagogique national.</a> <br>
                    </p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
