{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <div id="BODY">
    	
    <div class="bloc">
    <div class="container-colonne">
    	<div class="colonne">
    		<div class="head">
    			<p>Je suis étudiant</p>
    		</div>
    		<div class="body">
    			<p><span class="bold">Rejoignez le dut parce que...</span> est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur</p>
    		</div>
    	</div>
    	<div class="colonne">
    		<div class="head">
    			<p>Nous sommes une entreprise</p>
    		</div>
    		<div class="body">
    			<p><span class="bold">Recrutez des infos parce que...</span> est simplement du faux texte employé dans la composition et la mise en page avant
    			<br><br>
    			Email pour postez des offres : <a href="mailto:webmaster@iut-informatique.fr">webmaster@iut-informatique.fr</a></p>
    		</div>
    	</div>
    </div>
    </div>

    <div class=bloc>
    <div class=temoignage>
    		<div class=head>Voir les témoignage</div>
    		<p>En vrais sortir un témoignage au pif c'est pas une mauvaise idée mais comme ça sera en markdown et que ca risque d'être formaté bah c'est relou en plus on peux pas rajouter 50 truc a la navbar</p>
    		{# <p class=auteur>Quentin Tarantino, 5 ans<br>Réalisateur</p> #}
            <a href="#" class="button">Découvrir tout les témoignages</a>
    </div>
    </div>

    <div class=bloc>
    <div class=texte-standard>
    	<p class=head>Les débouchés</p>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    	<p class=head>Les poursuites d'études</p>
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    </div>

    </div>
{% endblock %}
