{% extends 'base.html.twig' %}

{% block body %}
    <div id="BODY">
        <div class="bloc">
            <div class="container-colonne">
                <div class="colonne">
                    <div class="head">
                        <p>Je suis étudiant</p>
                    </div>
                    <div class="body texte-standard">
                        <p>
                            <span class="bold">Pourquoi choisir le DUT Informatique ? </span> Un DUT Informatique a pour objectif de former les étudiants aux différents métier de l'informatique : Aussi bien dans le domaine du développement logiciel, web ou encore du réseau. En plus de ce bagage technique, les étudiants ont également de solides bases sur le fonctionnement des organisations ainsi qu'en communication en français et en anglais.
                        </p>
                    </div>
                </div>
                <div class="colonne">
                    <div class="head">
                        <p>Nous sommes une entreprise</p>
                    </div>
                    <div class="body texte-standard">
                        <p>
                            <span class="bold">Pourquoi recruter des étudiants en DUT Informatique ?</span> Les étudiants en DUT Informatique reçoivent une formation pluridisciplinaire qui leur permet aussi bien d'être opérationnel sur un poste technique que sur un poste proche du client où il faut analyser les besoins de celui-ci.
                            <br><br>
                            E-mail pour poster des offres : <a href="mailto:webmaster@iut-informatique.fr">webmaster@iut-informatique.fr</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class=bloc>
            <div class=temoignage>
                    <div class=head>Voir les témoignages</div>
                    <p>
                        Quoi de mieux pour se renseigner sur la formation que de demander directement à quelqu'un qui l'a suivie ?<br>
                        Ici vous pouvez lire différents témoignages d'anciens étudiants qui ont suivi ce cursus avec leurs impressions, ainsi que leurs surprises.
                    </p>
                    {# <p class=auteur>Quentin Tarantino, 5 ans<br>Réalisateur</p> #}
                    <a href="{{ path("testimonies") }}" class="button">Découvrir les témoignages</a>
            </div>
        </div>

        <div class=bloc>
            <div class="texte-standard">
                <h1>Les débouchés</h1>
                <p>
                    Le but de la formations est de former des techniciens supérieurs polyvalents pouvant aussi bien analyser le besoin d'un client, assister le chef de projet, que de concevoir une solution technique pour répondre à ce besoin.<br>
                    Ceci permet donc à celui-ci d'exercer des métiers tels que <span class="bold">Développeur full stack, administrateur de base de données, développeur mobile, etc..</span>
                </p>

                <h1>Les poursuites d'études</h1>
                <p>Bien que le DUT Informatique a pour objectif une insertion immédiate dans le monde professionnel, il est tout à fait possible de poursuivre ces études.</p>
                <p>En effet, plusieurs voies s'ouvrent à un étudiant avec son diplome de DUT Informatique :
                    <ul>
                        <li>Suivre une licence professionnelle afin de se spécialiser.</li>
                        <li>S'orienter vers une licence Informatique</li>
                        <li>Poursuivre dans une école d'Ingénieur</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
