{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <div id="BODY">
        <div class="bloc">
            <div class='texte-standard'>
                <p class="head">Les entreprises partenaires de la formation :</p>
                <p>
                    Les départements d'informatique des IUT ont pour partenaires de grandes sociétés d'informatique. Ce qui permet aux étudiants d'intégrer ces sociétés plus facilement à la fin de leur formation, via le stage de fin d'année, ou de leur deuxième année en alternance.<br>
                    Voici une liste non-exhaustive des sociétés partenaires:<br>
                    <a href="https://atos.net/fr/" target="_blank">Atos Origin</a> - <a href="https://www.capgemini.com/" target="_blank">Capgemini</a> - 
                    <a href="https://www.cigref.fr" target="_blank">Cigref</a> - <a href="https://www.ibm.com" target="_blank">IBM</a> - 
                    <a href="https://www.microsoft.com" target="_blank">Microsoft</a> - <a href="https://www.syntec.fr" target="_blank">Syntec</a>
                </p>
                <p class="head">Partenariat à l'international :</p>
                <p>
                	En plus des partenariats professionnels, les départements d'informatique en partenariat avec des universités étrangères accueillent des étudiants étrangers pour les former à l'informatique, et envoient en retour des étudiants effectuer leur stage à l'étranger.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
