{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <div id="BODY">
        <div class="bloc">
            <div class='texte-standard'>
                <p class="head">Liens utiles sur la formation et la vie étudiante :</p>
                <p>
                    <a href="http://www.etudiant.gouv.fr" target="_blank">Etudiant.gouv</a> - <a href="https://www.messervices.etudiant.gouv.fr" target="_blank">Mes services étudiant</a> - 
                    <a href="https://www.studyrama.com/" target="_blank">Studyrama</a> - <a href="https://www.letudiant.fr/" target="_blank">L'Etudiant</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
