{% extends 'base.html.twig' %}

{% block body %}
<div class="bloc padding">
    <h1>Nouvelle revue de presse</h1>

    {{ include('admin/press_review/_form.html.twig') }}

    <a href="{{ path('press_review_index') }}">Retour à la liste</a>
</div>
{% endblock %}
