{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper bloc padding">
    <h2>Page index administrateur</h2>
    <a href="{{ path("offer_index") }}">Gerer les offres</a>
{% endblock %}