{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper bloc padding">
    <h2>Page index administrateur</h2>
    <a href="{{ path("offer_index") }}">Gérer les offres</a> <br> <br>
    <a href="{{ path("map_index") }}">Gérer les IUT sur la carte</a> <br> <br>
    <a href="{{ path("testimony_index") }}">Gérer les témoignages</a>
{% endblock %}