<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Iut Informatique{% endblock %}</title>
        {% block stylesheets %}
        	{# Ajouter tout les fichiers css communs aux page ici #}
        {% endblock %}
    </head>
    <body>
    	<h1>Ce titre est dans le template de base il sera répété dans tout les fichiers (coucou la navbar)</h1>
        {% block body %}{% endblock %}
        {% block javascripts %}
        	{# Ajouter tout les fichiers js communs aux page ici #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>
