{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <div id="BODY">
        <div class="bloc">
            <div class='texte-standard'>
                <p class="head">Quelques revues de presse qui parlent de nous</p>
                <p>
                    <ul>
                        {% for review in reviews %}
                            <li style="margin-bottom:5px">{{ review.link|raw }}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
